body{
    background-color: #d295bf;
}

.navbar ul li{
align-items: center;
list-style: none;
display: inline-block;
position: relative;
padding: 30px;
}

.navbar a{
align-items: center;
text-decoration: black;
font-size: 25px;
}

.facts{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size: 20px;
}
.centered
{
    max-width: 650px; 
    margin-left: 16px;
    margin-right:16px;
}
.paragraphcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
